
@{
    ViewData["Title"] = "Horario de disponibilidad";
}

@section TabContentHorario
{
    <div class="row">
        <div class="form-group col-md-9" style="float: right;">
            <div class="row" style="padding-top: 5px;">
                <label class="col-form-label" for="dia">Buscar >></label>
            </div>
            <div class="row" style="padding-top: 5px;">
                <div class="align-self-center">
                    <input type="text" class="form-control" id="busqueda">
                </div>
            </div>
            <div class="row" style="padding-top: 5px;">
                <a name="buscar_persona" onclick="buscar()" class="btn btn-primary btm-sm m-2" id="buscar_persona" style="float: right; font-size: 0.9em;"><i class="fa fa-search" aria-hidden="true"></i>BUSCAR</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-9" style="float: right;">
            <div class="row" style="padding-top: 5px;">
                <label class="col-form-label" for="dia">Docentes >></label>
            </div>
            <div class="row" style="padding-top: 5px;">
                <div class="align-self-center">
                    <select id="filtro_1_docente" name="filtro_1_docente" class="form-control">
                        <option value="D">Decanos/Subdecanos</option>
                        <option value="F">Facultades</option>
                    </select>
                </div>
            </div>
            <div class="row" style="padding-top: 5px;">
                <div class="align-self-center">
                    <select id="filtro_2_docente" name="filtro_2_docente" class="form-control">
                        <option value="T">Todos</option>
                        @*<option value="1">FADCOM</option>
                        <option value="2">FIEC</option>
                        <option value="3">FIMCP</option>*@
                    </select>
                </div>
            </div>
            <div class="row" style="padding-top: 5px;">
                <a name="agregar_docente" onclick="cargar_docentes()" class="btn btn-primary btm-sm m-2" id="agregar_docente" style="float: right; font-size: 0.9em;"><i class="fa fa-search" aria-hidden="true"></i>AGREGAR</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-9" style="float: right;">
            <div class="row" style="padding-top: 5px;">
                <label class="col-form-label" for="time">Estudiantes >></label>
            </div>
            <div class="row" style="padding-top: 5px;">
                <div class="align-self-center">
                    <select id="filtro_1_estudiante" name="filtro_1_estudiante" class="form-control">
                        <option value="F">Facultades</option>
                        <option value="M">Materias</option>
                    </select>
                </div>
            </div>
            <div class="row" style="padding-top: 5px;" id="bloque_filtro_2">
                <div class="align-self-center">
                    <select id="filtro_2_estudiante" name="filtro_2_estudiante" class="form-control">
                    </select>
                </div>
            </div>
            <div class="row" style="padding-top: 5px;" id="bloque_filtro_3" hidden>
                <div class="align-self-center">
                    <select id="filtro_3_estudiante" name="filtro_3_estudiante" class="form-control">
                        <option selected hidden disabled>Seleccione una facultad...</option>
                    </select>
                </div>
            </div>
            <div class="row" style="padding-top: 5px;">
                <a name="agregar_estudiante" onclick="cargar_estudiantes()" class="btn btn-primary btm-sm m-2" id="agregar_estudiante" style="float: right; font-size: 0.9em;"><i class="fa fa-search" aria-hidden="true"></i>AGREGAR</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-9" style="float: right;">
            <div class="row" style="padding-top: 5px;">
                <label class="col-form-label" for="time">Personalizadas >></label>
            </div>
            <div class="row" style="padding-top: 5px;">
                <div class="align-self-center">
                    <select id="filtro_personalizada" name="filtro_personalizada" class="form-control">
                        <option value="0">Favoritos</option>
                        <option value="1">Pyweekend 2019 - 1T</option>
                        <option value="2">Pyweekend 2019 - 2T</option>
                    </select>
                </div>
            </div>
            <div class="row" style="padding-top: 5px;">
                <a name="agregar_personalizada" class="btn btn-primary btm-sm m-2" id="agregar_personalizada" style="float: right; font-size: 0.9em;"><i class="fa fa-search" aria-hidden="true"></i>AGREGAR</a>
            </div>
        </div>
    </div>
}

<h1>Horario de disponibilidad académica</h1>

<div class="row col-md-8" style="padding-bottom: 10px; padding-left: 0px;">
    <label class="col-sm-1 col-form-label">Fecha: </label>
    <div class="col-sm-4">
        <input name="fecha" id="date" type="date" class="">
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered" hidden id="personsTable">
        <thead>
            <tr>
                <th class="text-center">
                    <input type="checkbox" name="all" class="position-static seleccion" style="vertical-align: middle;">
                </th>
                <th class="text-center">
                    Nombres y apellidos:
                </th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
<a class="btn btn-primary btm-sm m-2" onclick="timetableGenerator()" style="float: right; font-size: 0.9em; margin-bottom: 15px;">GENERAR HORARIO</a>
<a class="btn btn-primary btm-sm m-2" data-toggle="modal" data-target="#modalRegistrarLista" style="float: right; font-size: 0.9em; margin-bottom: 15px; margin-right: 15px;">GUARDAR LISTA</a>
    
<div class="table-responsive">
        <table class="table table-bordered" hidden id="timeTable" style="padding-top: 15px; font-size: 9px;">
            <thead>
                <tr>
                    <th scope="col">Hora</th>
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Mi&iacute;rcoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                    <th scope="col">S&aacute;bado</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary btm-sm m-2" id="agendar_reunion" data-toggle="modal" data-target="#modalRegistrarReunion" style="float: right; font-size: 0.9em; margin-top: 15px; display:none">AGENDAR REUNION</a>

    <!-- Modal -->
    <div class="modal fade" id="modalRegistrarLista" tabindex="-1" role="dialog" aria-labelledby="emodalCreateListTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="text-align: center;">
                <div class="modal-body">
                    <h2 class="modal-title" id="modalCreateListTitle">Guardar lista</h2>
                    <div class="row col-md-6 col-md-offset-3">
                        <input id="name" name="name" type="text" class="form-control" placeholder="NOMBRE DE LA LISTA" style="margin-top: 15px; margin-bottom: 0px;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button onclick="crear_lista()" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalRegistrarReunion" tabindex="-1" role="dialog" aria-labelledby="modalRegistrarReunionTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="text-align: center;">
                <div class="modal-body">
                    <h2 class="modal-title" id="modalRegistrarReunionTitle">Registrar reunión</h2>
                    <div class="row" style="margin-left: 10px; margin-right: 10px;">
                        <div class="row" style="padding-top: 20px;">
                            <div class="form-group">
                                <label for="fecha_reunion">Fecha :</label>
                                <input name="fecha_reunion" id="fecha_reunion" type="date" class="">
                            </div>
                        </div>
                        <div class="row col-md-6 col-md-offset-3">
                            <input id="asunto" name="asunto" type="text" class="form-control" placeholder="ASUNTO" required style="margin-top: 15px; margin-bottom: 0px;">
                        </div>
                        <div class="row col-md-6 col-md-offset-3" style="margin-bottom: 15px; margin-top: 10px;">
                            <textarea class="form-control" id="descripcion" name="descripcion" placeholder="DESCRIPCIÓN" required></textarea>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="hora_inicio">Hora inicio:</label>
                                <input type="time" class="form-control" id="hora_inicio" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="hora_fin">Hora fin:</label>
                                <input type="time" class="form-control" id="hora_fin" required>
                            </div>
                        </div>
                        <label for="hora_inicio">Ubicación:</label>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <select id="facultad" name="facultad" class="form-control">
                                    <option selected>Seleccionar facultad...</option>
                                    <option value="1">FADCOM</option>
                                    <option value="2">FIEC</option>
                                    <option value="3">FIMCP</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <select id="bloque" name="bloque" class="form-control">
                                    <option selected>Seleccionar bloque...</option>
                                    <option value="1">FADCOM</option>
                                    <option value="2">FIEC</option>
                                    <option value="3">FIMCP</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <select id="lugar" name="lugar" class="form-control" required>
                                    <option selected>Seleccionar lugar...</option>
                                    <option value="1">FADCOM</option>
                                    <option value="2">FIEC</option>
                                    <option value="3">FIMCP</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button onclick="crear_reunion()" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script language="javaScript" type="text/javascript" src="~/js/horario.js"></script>

    }
