
@{
    Layout = null;
}


@{
    ViewData["Title"] = "Mapa de densidad poblacional";
}

<h1>Mapa de Afluencia Institucional</h1>
<div class="demo-wrapper">
    <div class="heatmap leaflet-container leaflet-fade-anim" id="map-canvas" tabindex="0" style="position: relative;">

    </div>
</div>





