
@{
    ViewData["Title"] = "Home page";
}

<div class="col-md-12">
    <div id="c-menu" style="margin-left: -38px;">
        <div id="ctl00_smenu">
            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item">
                    <a class="nav-link active" id="empresa-tab" data-toggle="tab" href="#pills-empresa" role="tab" aria-controls="home" aria-selected="true">Configuraci&oacute;n de empresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mapa-tab" data-toggle="tab" href="#pills-mapa" role="tab" aria-controls="mapa" aria-selected="false">Mapa</a>
                </li>
            </ul>
            <div class="tab-content">

                <div class="tab-pane fade show active" id="pills-empresa" role="tabpanel" aria-labelledby="pills-empresa-tab">

                </div>

                <div class="tab-pane fade" id="pills-mapa" role="tabpanel" aria-labelledby="pills-mapa-tab">
                    
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script language="javaScript" type="text/javascript" src="~/js/mapa.js"></script>

}