@model IEnumerable<Reunion>

@{
    ViewData["Title"] = "Reuniones";
}

@section TabContentReunion
{
    <div class="row">
        <div class="form-group col-md-9" style="float: right;">
            <div class="row" style="padding-top: 5px;">
                <label class="col-form-label" for="dia">Filtro >></label>
            </div>
            <div class="row" style="padding-top: 5px;">
                <div class="align-self-center">
                    <select id="filtro" name="filtro" class="form-control">
                        <option value="R">Mis reuniones</option>
                        <option value="I">Invitaciones</option>
                    </select>
                </div>
            </div>
            <div class="row" style="padding-top: 5px;">
                <a name="actualizar" onclick="actualizar()" class="btn btn-primary btm-sm m-2" id="actualizar" style="float: right; font-size: 0.9em;">ACTUALIZAR</a>
            </div>
        </div>
    </div>
}

<h1>Reuniones</h1>

<div class="table-responsive">
    <table class="table table-bordered" hidden id="reunionesTable" style="padding-top: 15px;">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Asunto</th>
                <th scope="col">Descripción</th>
                <th scope="col">Lugar</th>
                <th scope="col">Hora</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script language="javaScript" type="text/javascript" src="~/js/reunion.js"></script>

}


